/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
	height: 100%;
	scroll-behavior: smooth;
}

/* TrackIt Title */
.navbar-brand {
	font-size: 26px !important;
	color: whitesmoke;
}

/* TrackIt Icon in Navbar */
.navbar-brand i {
	font-size: 36px;
}

/* Nav icon size */
.nav-item i {
	font-size: 34px;
}

/* Nav-item hover */
.nav-item:hover {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Navbar GO PRO button */
#go-pro-btn {
	margin: auto;
}

#login-nav-text {
	font-size: 1rem;
}

/* Default body font size */
body {
	font-size: 15px;
	height: 100%;
}

/* To fix Footer to bottom */
main {
	min-height: 76%;
}

/* Messages row margin top so fixed navbar doesn't overlap main content  */
.messages-row {
	margin-top: 66px;
}

/* Messages Row Alert  */
.messages-row .col .alert {
	margin-bottom: 0;
}

/* Index page section headings */
h4 {
	color: #0052cc;
}

/* Heading Icon Size */
.heading-icon {
	font-size: 34px;
}

/* Feature section icons */
.feature-icon {
	font-size: 38px !important;
	color: #0093e9;
}

#account-profile-thumbnail {
	width: 38px;
}

/* Container max widths */
.tickets-container {
	max-width: 1564px;
}

.view-ticket-container,
.edit-ticket-container,
.checkout-container,
.add-ticket-container {
	max-width: 1300px;
}

.kanban-container {
	max-width: 1600px;
}

.user-list-container,
.profile-container {
	max-width: 1200px;
}

.dashboard-container {
	max-width: 1700px;
}

/* Min heights for Index Page sections */
.section {
	min-height: 270px;
}

/* 'Focus on what matters' navbar tag line */
#index-tag-line {
	min-height: 260px;
}

#vertical-line-index {
	border-left: 1px solid black;
	height: 180px;
	margin-left: 25px;
}

/* Log in button min width on Index page */
#log-in-btn {
	min-width: 160px;
}

/* Full length login btn */
#login-btn-login-page {
	width: 100%;
}

#log-in-jumbotron {
	max-width: 500px;
}

#modal-screenshot-img {
	max-width: 96%;
}

/* Kanban cancelled checkbox */
#hide-cancelled-checkbox {
	font-size: 15px;
}

#customer-logos {
	width: 76%;
}

/* Ticket View profile image  */
.ticket-view-profile-image {
	width: 42px !important;
}

/* Default profile icon size */
.ticket-view-profile-default {
	font-size: 40px;
}

/* Profile page default profile image */
#default-profile-image {
	font-size: 140px;
}

/* Profile page profile image */
#profile-image {
	width: 100%;
}

#registration-jumbotron {
	max-width: 550px;
}

/* Registration page btn */
#reg-page-reg-btn {
	width: 100%;
}

/* Checkout page */
#checkout-jumbotron {
	max-width: 1200px;
}

#credit-card-errors {
	display: none;
}

/* Zoom icon */
.zoom-icon {
	width: 22px;
}

/* Submit comment button */
#submit-comment-btn {
	min-height: 58px;
}

/* Comment profile image */
.comment-profile-image {
	width: 40px;
}

/* Pie Chart and Row Chart labels */
.pie-label-group text,
g .row {
	font-size: 16px !important;
}

/* Dashboard Filtered Count */
#filtered-count {
	font-size: 17px;
}

.clickable-row:hover {
	cursor: pointer;
}

.jumbotron {
	padding-top: 32px;
	padding-bottom: 32px;
}

.kanban-col {
	padding: 6px;
}

.kanban-col .jumbotron {
	padding: 6px;
}

.kanban-new .card {
	background-color: lightblue;
}

.kanban-in-progress .card {
	background-color: lightgoldenrodyellow;
}

.kanban-resolved .card {
	background-color: #c3e6cb;
}

.kanban-cancelled .card {
	background-color: lightgrey;
}

#profile-image:hover {
	opacity: 0.85;
}

/* Plans Feature List Items */
.list-group-item {
	border: none;
	padding: 6px;
}

/* Plans Feature list icons */
.list-group-item i {
	color: green;
}

.plan-card {
	/* margin-bottom: 24px; */
	margin: 0 auto 24px auto;
	max-width: 22rem;
}

.plan-card-header {
	font-size: 18px;
}

.plan-list-group .list-group-item {
	color: grey;
}

#add-ticket-jumbotron {
	max-width: 1400px;
}

#add-ticket-btn {
	min-width: 180px;
}

#tickets-table {
	width: 100% !important;
}

/* footer */
footer {
	width: 100%;
	min-height: 140px;
}

#github-logo:hover {
	opacity: 0.75;
}

/* Background colors */
.bg-primary-light {
	background: #e3e4e6;
}
.bg-success-light {
	background: #c3e6cb;
}
.bg-info-light {
	background: #6bc6e1;
}
.bg-warning-light {
	background: #ffeeba;
}

/* Used for Navbar colour gradient */
.bg-royal-blue {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#30cfd0),
		to(#330867)
	);
	background-image: -o-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	background-color: #0093e9;
}

.bg-cyan-light {
	background-color: lightcyan;
}

.bg-grey-light {
	background-color: lightgrey;
}

.bg-light {
	background-color: #f1f1f1 !important;
}

.bg-light-blue {
	background-color: lightblue !important;
}

/* Kanban headers */
.jumbotron h5 {
	padding: 8px;
	margin-bottom: 0;
}

/* Tickets Search input boxes */
#ticket-search-boxes th input {
	width: 100%;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#ticket-search-boxes th {
	padding: 0 1px 0 0;
}

/* Medium table padding */
.table-md td,
.table-md th {
	padding: 0.55rem;
}

/* Ticket page Feature and Bug icons  */
.ticket-type-icon {
	font-size: 22px;
}

/* MEDIA QUERIES */
/* Tablet and smaller */
@media (max-width: 768px) {
	#tickets-table {
		font-size: 13px;
	}
	.ticket-type-icon,
	.status-icon {
		font-size: 16px;
	}
	/* Small tickets table */
	.table-md td,
	.table-md th {
		padding: 0.5rem 1px;
	}
	/* customer logos */
	#customer-logos,
	#customer-logos-mobile {
		width: 98%;
	}
	#customer-logos-mobile-2 {
		margin-top: 34px;
		width: 65%;
	}
}

/* Small Devices and smaller */
@media (max-width: 568px) {
	.pagination {
		margin-top: 20px !important;
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.table-md td,
	.table-md th {
		padding: 0.5rem 1px;
		font-size: 13px;
	}
	#submitters-col,
	#assignees-col {
		padding: 4px;
	}
	h3 {
		font-size: 20px;
	}
	.heading-icon {
		font-size: 24px;
	}
}

/* Testing Only */
* {
	/* outline: 1px solid lightcoral; */
	outline-offset: -1px;
}
