{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block title %}
Add Ticket
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}
{% block page_heading %}
<h2>Add Ticket</h2>
<hr>
{% endblock %}
{% block content %}
<div class="row">
   <div class="col col-8">
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form | as_bootstrap }}
         <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <a class="btn" href="{% url 'tickets' %}">Cancel</a>
   </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
{% endblock %}
