{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head %}
<!-- d3 time -->
<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<!-- dc.min.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.9/dc.min.css"
   integrity="sha256-uq/xxnkXyjSgp47vyRtSvBEwWuxTFbtxbKwOxkmWIJM=" crossorigin="anonymous" />
{% endblock %}
{% block container-class %}dashboard-container{% endblock %}
{% block title %}TrackIt | Dashboard{% endblock %}
{% block page_heading %}
<i class="material-icons-outlined align-bottom heading-icon">assessment</i> Dashboard
<div id="filtered-count" class="float-right"></div>
<hr>
{% endblock %}
{% block content %}
<div class="row">
   <div class="col-md-12 col-lg-4 text-center">
      <div class="jumbotron">
         <h5 class="lead">Open/Closed Tickets</h5>
         <div id="open-closed-tickets-pie-chart"></div>
      </div>
      <div class="jumbotron">
         <h5 class="lead">Status</h5>
         <div id="statusRowChart"></div>
      </div>
   </div>
   <div class="col col-md-12 col-lg-8">
      <div class="jumbotron text-center">
         <h5 class="lead">Ticket Status by Date Submitted</h5>
         <div id="statusByMonthBarChart"></div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <div class="jumbotron text-center">
         <h5 class="lead">Type</h5>
         <div id="ticketTypeRowChart"></div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="jumbotron text-center">
         <h5 class="lead">Priority</h5>
         <div id="priorityRowChart"></div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="jumbotron text-center">
         <h5 class="lead">In-Demand Tickets</h5>
         <div id="upvotesRowChart"></div>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts %}
<!-- d3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"
   integrity="sha256-m0QmIsBXcOMiETRmpT3qg2IQ/i0qazJA2miCHzOmS1Y=" crossorigin="anonymous"></script>
<!-- crossfilter.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"
   integrity="sha256-T9tvV3x+/vCnCoFciKNZwbaJ46q9lh6iZjD0ZjD95lE=" crossorigin="anonymous"></script>
<!-- dc.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.9/dc.min.js"
   integrity="sha256-unWojco2TOb01l2JB43J27kr4UQIkHk+PWce5A2eq8Y=" crossorigin="anonymous"></script>
<!-- dashboard.js -->
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
