{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}TrackIt | Kanban{% endblock %}
{% block container-class %}kanban-container{% endblock %}
{% block page_heading %}
<i class="material-icons-outlined heading-icon align-bottom">view_week</i> Kanban ({{ tickets|length }})

<div class="form-check float-right" id="hide-cancelled-checkbox">
   <br>
   <input type="checkbox" class="form-check-input" id="cancelled-checkbox" checked>
   <label class="form-check-label" for="cancelled-checkbox">
      <i class="material-icons-outlined align-middle">
         visibility_off
      </i> Hide Cancelled ({{ cancelled_tickets|length}})
   </label>
</div>
<hr>
{% endblock %}
{% block content %}
<div class="row">
   <!-- 'New' Column -->
   <div class="col-md-4 kanban-col">
      <div class="jumbotron kanban-new">
         <h5 class="text-center bg-info-light"><i class="material-icons-outlined align-bottom">local_activity</i> New
            ({{ new_tickets|length }})</h5>
         {% for ticket in new_tickets %}
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">
                  <a href="{% url 'view_ticket' ticket.id %}" data-toggle="tooltip" data-placement="bottom"
                     title="{{ ticket.description }}">{{ ticket.summary }}
                  </a>

                  <!-- Priority Badge -->
                  <span class="text-muted">
                     <span class="badge
                     {% if ticket.priority == 'Low' %}
                     badge-success 
                     {% elif ticket.priority == 'Medium' %}
                     badge-warning
                     {% elif ticket.priority == 'High' %}
                     badge-danger
                     {% endif %}
                     float-right">{{ ticket.priority }}
                     </span>
                  </span>
               </h6>

               <!-- Bug/Feature Icon -->
               {% if ticket.ticket_type == "Bug" %}
               <i class="material-icons-outlined align-middle" data-toggle="tooltip" title="Bug"
                  data-placement="left">bug_report</i>
               {% elif ticket.ticket_type == "Feature" %}
               <i class="material-icons-outlined align-middle" data-toggle="tooltip" title="Feature"
                  data-placement="left">build</i>
               {% endif %}

               <!-- Tags  -->
               {% if ticket.tags.names %}
               <span>
                  {% for tag in ticket.tags.names %}
                  <span class="badge badge-pill badge-light">{{ tag }}</span>
                  {% endfor %}
               </span>
               {% endif %}

               <!-- Status change via dropdown only available if User is Submitter or Staff -->
               {% if request.user == ticket.submitted_by or request.user.is_staff %}
               <div class="btn-group float-right">
                  <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">...
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                     <h6 class="dropdown-header">Move to:</h6>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='In Progress' %}">
                        <i class="material-icons align-bottom">schedule</i> In Progress</a>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Resolved' %}"><i
                           class="material-icons align-bottom">done</i> Resolved</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Cancelled' %}"><i
                           class="material-icons-outlined align-bottom">cancel</i> Cancelled</a>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <!-- In Progress Column -->
   <div class="col-md-4 kanban-col">
      <div class="jumbotron kanban-in-progress">
         <h5 class="text-center bg-warning-light"><i class="material-icons align-bottom">schedule</i> In Progress
            ({{ in_progress_tickets|length }})
         </h5>
         {% for ticket in in_progress_tickets %}
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">
                  <a href="{% url 'view_ticket' ticket.id %}" data-toggle="tooltip" data-placement="bottom"
                     title="{{ ticket.description }}">{{ ticket.summary }}
                  </a>

                  <!-- Priority Badge -->
                  <span class="text-muted">
                     <span class="badge
                     {% if ticket.priority == 'Low' %}
                     badge-success 
                     {% elif ticket.priority == 'Medium' %}
                     badge-warning
                     {% elif ticket.priority == 'High' %}
                     badge-danger
                     {% endif %}
                     float-right">{{ ticket.priority }}
                     </span>
                  </span>
               </h6>

               <!-- Bug/Feature Icon -->
               {% if ticket.ticket_type == "Bug" %}
               <i class="material-icons-outlined float-left" data-toggle="tooltip" data-placement="left"
                  title="Bug">bug_report</i>
               {% elif ticket.ticket_type == "Feature" %}
               <i class="material-icons-outlined float-left" data-toggle="tooltip" data-placement="left"
                  title="Feature">build</i>
               {% endif %}

               <!-- Tags  -->
               {% if ticket.tags.names %}
               <span>
                  {% for tag in ticket.tags.names %}
                  <span class="badge badge-pill badge-light">{{ tag }}</span>
                  {% endfor %}
               </span>
               {% endif %}

               <!-- Status change via dropdown only available if User is Submitter or Staff -->
               {% if request.user == ticket.submitted_by or request.user.is_staff %}
               <div class="btn-group float-right">
                  <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">...
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                     <h6 class="dropdown-header">Move to:</h6>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='New' %}"><i
                           class="material-icons-outlined align-bottom">local_activity</i> New</a>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Resolved' %}"><i
                           class="material-icons align-bottom">done</i> Resolved</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Cancelled' %}"><i
                           class="material-icons-outlined align-bottom">cancel</i> Cancelled</a>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <!-- Resolved Column-->
   <div class="col-md-4 kanban-col">
      <div class="jumbotron kanban-resolved">
         <h5 class="text-center bg-success-light"><i class="material-icons align-bottom">done</i> Resolved
            ({{ resolved_tickets|length }})
         </h5>
         {% for ticket in resolved_tickets %}
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">
                  <a href="{% url 'view_ticket' ticket.id %}" data-toggle="tooltip" data-placement="bottom"
                     title="{{ ticket.description }}">{{ ticket.summary }}
                  </a>
                  <!-- Priority Badge -->
                  <span class="text-muted">
                     <span class="badge
                     {% if ticket.priority == 'Low' %}
                     badge-success 
                     {% elif ticket.priority == 'Medium' %}
                     badge-warning
                     {% elif ticket.priority == 'High' %}
                     badge-danger
                     {% endif %}
                     float-right">{{ ticket.priority }}
                     </span>
                  </span>
               </h6>

               <!-- Bug/Feature Icon -->
               {% if ticket.ticket_type == "Bug" %}
               <i class="material-icons-outlined float-left" data-toggle="tooltip" data-placement="left"
                  title="Bug">bug_report</i>
               {% elif ticket.ticket_type == "Feature" %}
               <i class="material-icons-outlined float-left" data-toggle="tooltip" data-placement="left"
                  title="Feature">build</i>
               {% endif %}

               <!-- Tags  -->
               {% if ticket.tags.names %}
               <span>
                  {% for tag in ticket.tags.names %}
                  <span class="badge badge-pill badge-light">{{ tag }}</span>
                  {% endfor %}
               </span>
               {% endif %}

               <!-- Status change via dropdown only available if User is Submitter or Staff -->
               {% if request.user == ticket.submitted_by or request.user.is_staff %}
               <div class="btn-group float-right">
                  <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">...
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                     <h6 class="dropdown-header">Move to:</h6>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='New' %}"><i
                           class="material-icons-outlined align-bottom">local_activity</i> New</a>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='In Progress' %}">
                        <i class="material-icons align-bottom">schedule</i> In Progress</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Cancelled' %}"><i
                           class="material-icons-outlined align-bottom">cancel</i> Cancelled</a>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <!-- Cancelled Column -->
   <div class="col-md-4 kanban-col d-none">
      <div class="jumbotron kanban-cancelled">
         <h5 class="text-center bg-grey-light"><i class="material-icons-outlined align-bottom">cancel</i> Cancelled
            ({{ cancelled_tickets|length }})
         </h5>
         {% for ticket in cancelled_tickets %}
         <div class="card">
            <div class="card-body">
               <h6 class="card-title">
                  <a href="{% url 'view_ticket' ticket.id %}" data-toggle="tooltip" data-placement="bottom"
                     title="{{ ticket.description }}">{{ ticket.summary }}
                  </a>

                  <!-- Priority Badge -->
                  <span class="text-muted">
                     <span class="badge
                     {% if ticket.priority == 'Low' %}
                     badge-success 
                     {% elif ticket.priority == 'Medium' %}
                     badge-warning
                     {% elif ticket.priority == 'High' %}
                     badge-danger
                     {% endif %}
                     float-right">{{ ticket.priority }}
                     </span>
                  </span>
               </h6>

               <!-- Bug/Feature Icon -->
               {% if ticket.ticket_type == "Bug" %}
               <i class="material-icons-outlined align-middle" data-toggle="tooltip" title="Bug"
                  data-placement="left">bug_report</i>
               {% elif ticket.ticket_type == "Feature" %}
               <i class="material-icons-outlined align-middle" data-toggle="tooltip" title="Feature"
                  data-placement="left">build</i>
               {% endif %}

               <!-- Tags  -->
               {% if ticket.tags.names %}
               <span>
                  {% for tag in ticket.tags.names %}
                  <span class="badge badge-pill badge-light">{{ tag }}</span>
                  {% endfor %}
               </span>
               {% endif %}

               <!-- Status change via dropdown only available if User is Submitter or Staff -->
               {% if request.user == ticket.submitted_by or request.user.is_staff %}
               <div class="btn-group float-right">
                  <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">...
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                     <h6 class="dropdown-header">Move to:</h6>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='New' %}"><i
                           class="material-icons-outlined align-bottom">local_activity</i> New</a>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='In Progress' %}">
                        <i class="material-icons align-bottom">schedule</i> In Progress</a>
                     <a class="dropdown-item" href="{% url 'change_status' pk=ticket.id new_status='Resolved' %}"><i
                           class="material-icons align-bottom">done</i> Resolved</a>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}
