{% extends "base.html" %}
{% block title %}
View Ticket | {{ ticket.id }}
{% endblock %}
{% block page_heading %}
<h2>View Ticket | {{ ticket.id}} </h2>
<hr>
{% endblock %}
{% block content %}
<div class="row">
   <div class="col col-6">
      <h4>Details</h4>
      <table class="table table-sm">
         <thead>
            <tr>
               {% comment %} <th scope="col">Field</th> {% endcomment %}
               {% comment %} <th scope="col">Value</th> {% endcomment %}
            </tr>
         </thead>
         <tbody>
            <!-- {% for key, value in ticket.items %}
            <tr>
               <th scope="row">{{ key }}</th>
               <td>{{ value }}</td>
            </tr>
            {% endfor %} -->
            <!-- <tr>
               <th>Ticket ID</th>
               <td>{{ ticket.id }}</td>
            </tr> -->
            <tr>
               <th>Ticket Type</th>
               <td>{{ ticket.ticket_type }}</td>
            </tr>
            <tr>
               <th>Submitted By </th>
               <td>{{ ticket.submitted_by }}</td>
            </tr>
            <tr>
               <th>Assigned To</th>
               <td>{{ ticket.assigned_to }}</td>
            </tr>
            <tr>
               <th>Status</th>
               <td>{{ ticket.status }}</td>
            </tr>
            <tr>
               <th>Priority</th>
               <td><span class="badge badge-pill badge-warning">{{ ticket.priority }}</span></td>
            </tr>
            <tr>
               <th>Created Date</th>
               <td>{{ ticket.created_date }}</td>
            </tr>
         </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'edit_ticket' ticket.id %}">Edit</a>
      {% if ticket.status != 'Cancelled' %}
      <a class="btn btn-danger" href="{% url 'cancel_ticket' ticket.id %}">Cancel</a>
      {% endif %}
   </div>
   <div class="col col-6">
      {% comment %} History {% endcomment %}
      <h4>Change History</h4>
      <table class="table table-sm">
         <thead>
            <tr>
               <th scope="col">Field</th>
               <th scope="col">New Value</th>
               <th scope="col">Old Value</th>
               <th scope="col">Date Changed</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Status</td>
               <td>High</td>
               <td>Medium</td>
               <td>20/02/2020</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<hr>
<div class="row">
   <div class="col col-12">
      {% comment %} Comments {% endcomment %}
      <h4>Comments</h4>
      <ul class="list-group">
         <li class="list-group-item">I agree</li>
         <li class="list-group-item">Same</li>
      </ul>
      <br>
      <form method="POST">
         <input type="text" class="form-control" placeholder="Leave Comment">
         <a class="btn btn-primary" href="#">Submit</a>
      </form>
   </div>
</div>
{% endblock %}
