{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}
View Ticket | {{ ticket.id }}
{% endblock %}
{% block page_heading %}
<h2>View Ticket | {{ ticket.id}} </h2>
<hr>
{% endblock %}
{% block content %}
<div class="row">
   <div class="col col-5">
      <h4>Details</h4>
      <table class="table table-sm">
         {% comment %} <thead> {% endcomment %}
            {% comment %} <tr> {% endcomment %}
               {% comment %} <th scope="col">Field</th> {% endcomment %}
               {% comment %} <th scope="col">Value</th> {% endcomment %}
               {% comment %} </tr> {% endcomment %}
            {% comment %} </thead> {% endcomment %}
         <tbody>
            <tr>
               <th>Summary</th>
               <td>{{ ticket.summary }}</td>
            </tr>
            <tr>
               <th>Ticket Type</th>
               <td>{{ ticket.ticket_type }}</td>
            </tr>
            <tr>
               <th>Submitted By </th>
               <td>{{ ticket.submitted_by }}</td>
            </tr>
            <tr>
               <th>Assigned To</th>
               <td>{{ ticket.assigned_to }}</td>
            </tr>
            <tr>
               <th>Status</th>
               <td>{{ ticket.status }}</td>
            </tr>
            <tr>
               <th>Priority</th>
               <td><span class="badge badge-pill badge-warning">{{ ticket.priority }}</span></td>
            </tr>
            <tr>
               <th>Created Date</th>
               <td>{{ ticket.created_date }}</td>
            </tr>
            <tr>
               <th>Tags</th>
               <td>{{ticket.tags.all|join:", "}}</td>
            </tr>
            <tr>
               <th>Upvotes</th>
               <td>{{ ticket.upvotes }} <a href="#" class="btn btn-outline-primary btn-sm">+1</a></td>
            </tr>
         </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'edit_ticket' ticket.id %}">Edit</a>
      {% if ticket.status != 'Cancelled' %}
      <a class="btn btn-warning" href="{% url 'cancel_ticket' ticket.id %}">Cancel</a>
      {% endif %}
      <a class="btn btn-danger" href="{% url 'delete_ticket' ticket.id %}">Delete</a>
   </div>
   <div class="col col-7">
      <h4>Change History</h4>
      <table class="table table-sm">
         <thead>
            <tr>
               <th scope="col">Property</th>
               <th scope="col">New Value</th>
               <th scope="col">Old Value</th>
               <th scope="col">User</th>
               <th scope="col">Date</th>
            </tr>
         </thead>
         <tbody>
            {% if all_deltas %}
            {% for delta in all_deltas %}
            <tr>
               <td>{{ delta.field }}</td>
               <td>{{ delta.new_value }}</td>
               <td>{{ delta.old_value }}</td>
               <td>{{ delta.changed_by }}</td>
               <td>{{ delta.date_changed }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
               <td>-</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
            </tr>
            {% endif %}
         </tbody>
      </table>
   </div>
</div>
<hr>
<div class="row">
   <div class="col col-12">
      <h4>Comments</h4>
      <ul class="list-group">
         {% for comment in comments %}
         <li class="list-group-item"><b>@{{ comment.user }}</b><span class="float-right">
         <i>{{ comment.date }}</i></span>
            <br>{{ comment.comment_body }}
         </li>
         {% endfor %}
      </ul>
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form | as_bootstrap }}
         <button class="btn btn-outline-primary" type="submit">Submit</button>
      </form>
   </div>
</div>
{% endblock %}
