{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block title %}TrackIt | Checkout | Go PRO{% endblock %}
{% block head %}
<!-- Stripe JS -->
<script src="https://js.stripe.com/v2/"></script>
<script>
   //<![CDATA[
   Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<!-- Stripe JS -->
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock head %}
{% block page_heading %}
<h3>
   <span class="material-icons heading-icon">shopping_cart</span> Checkout
</h3>
<hr>
{% endblock %}
{% block container-class %}checkout-container{% endblock %}
{% block content %}
<div class="jumbotron mx-auto" id="checkout-jumbotron">
   <div class="row">
      <div class="col-12">
         <h3>Go PRO</h3>
         <hr>
         <b>Unlocked Features:</b>
         <br>
         <br>
         <ul class="list-group plan-list-group text-left">
            <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
               UNLIMITED Tickets/month
            </li>
            <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
               KANBAN View
            </li>
         </ul>
         <br>
         <p class="lead"><b>Total Due: 9.90 EUR (Single Payment)</b></p>
         <form method="post" id="payment-form" action="{% url 'checkout' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
               <div id="credit-card-errors">
                  <div id="alert-message block-message error" id="stripe-error-message"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-9 col-lg-6">
                  <p class="lead">Your Details</p>
                  {{ order_form.full_name | as_crispy_field }}
               </div>
            </div>
            <div class="row">
               <div class="col-md-9 col-lg-6">
                  {{ order_form.phone_number | as_crispy_field }}
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  {{ order_form.street_address1 | as_crispy_field }}
               </div>
               <div class="col-md-12">
                  {{ order_form.street_address2 | as_crispy_field }}
               </div>
               <div class="col-md-6 col-lg-3">
                  {{ order_form.town_or_city | as_crispy_field }}
               </div>
               <div class="col-md-6 col-lg-3">
                  {{ order_form.county | as_crispy_field }}
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-lg-3">
                  {{ order_form.country | as_crispy_field }}
               </div>
               <div class="col-md-6 col-lg-3">
                  {{ order_form.postcode | as_crispy_field }}
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-lg-6">
                  <p class="lead">Payment Details</p>
                  {{ payment_form.credit_card_number | as_crispy_field }}
               </div>
            </div>
            <div class="row">
               <div class="col-6 col-lg-2">
                  {{ payment_form.expiry_month | as_crispy_field }}
               </div>
               <div class="col-6 col-lg-2">
                  {{ payment_form.expiry_year | as_crispy_field }}
               </div>
               <div class="col-6 col-lg-2">
                  {{ payment_form.cvv | as_crispy_field }}
                  {{ payment_form.stripe_id | as_crispy_field }}
               </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-md-12">
                  <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                     value="Submit Payment">
                  <a href="{% url 'tickets' %}" class="float-right">Cancel</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
