{% extends 'base.html' %}
{% load static from static %}
{% block title %}TrackIt | Home{% endblock %}
{% block page_heading %}{% endblock %}
{% block content %}
<div class="row">
   <div class="d-none d-sm-inline-block col-md-4 text-right" id="index-tag-line">
      <br>
      <div class="vl float-right" id="vertical-line-index"></div>
      <h2>Log it<br> TrackIt<br> Crack on</h2>
   </div>
   <div class="col-12 col-md-8">
      <br>
      <h2 class="display-5">Issue and Feature tracking done right</h2>
      <br>
      <!-- If user logged in, hide Login and Create Account -->
      {% if not user.is_authenticated %}
      <p>Get started today:</p>
      <a href="{% url 'registration' %}" class="btn btn-primary"><i class="material-icons align-top">
            person_add</i> Create Free Account</a>
      <br>
      <br>
      <p>Returning Users: </p>
      <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm" id="log-in-btn"><i
            class="material-icons align-top">
            input</i> Log In</a>
      <br>
      <br>
      {% else %}
      <br>
      <p>Logged in as: <b>{{ user.username }}</b></p>
      <p><a href="{% url 'profile' %}">My Account</a></p>
      {% if user.is_authenticated and not user.profile.is_pro_user %}
      <p>
         <a href="{% url 'checkout' %}" class="btn btn-sm btn-primary"><span class="material-icons align-top">
               stars</span> Go PRO
         </a>
      </p>
      {% endif %}
      {% endif %}
   </div>
</div>
<hr>
<!-- Features -->
<div class="row section">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4 class="">
               <i class="material-icons align-bottom">build</i>
               Features</h4>
            <br>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom feature-icon">confirmation_number</i><br>
               Tickets</h5>
            <p class="text-muted">Searchable, filterable table display of all bug and feature requests.</p>
         </div>
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom feature-icon">assessment</i><br> Dashboard</h5>
            <p class="text-muted">Dynamic charting views, allowing on-demand insights.</p>
         </div>
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom feature-icon">view_week</i><br> Kanban (PRO)</h5>
            <p class="text-muted">Visualise your team's workflow.</p>
         </div>
      </div>
   </div>
</div>
<!-- Testimonials -->
<div class="row section bg-light">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4><i class="material-icons align-bottom">rate_review</i> Our users tell us</h4>
            <br>
         </div>
         <div class="col-12 col-md-4">
            <h5>Clean</h5>
            <p class="text-muted">"Clean, inituitive workflows mean nothing slips through the cracks."</p>
         </div>
         <div class="col-12 col-md-4">
            <h5>Excellent</h5>
            <p class="text-muted">"TrackIt allows us to focus on our core business."</p>
         </div>
         <div class="col-12 col-md-4">
            <h5>Game Changer</h5>
            <p class="text-muted">"A key tool of our business."</p>
            <br>
         </div>
      </div>
   </div>
</div>
<!-- Customers -->
<div class="row section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <br>
            <h4 class="text-center">
               <i class="material-icons align-bottom">verified_user</i>
               Trusted By
            </h4>
         </div>
         <div class="col-12 text-center">
            <br>
            <br>
            <img src="{% static 'images/Partner-Logos.png' %}" id="customer-logos" class="d-none d-sm-inline-block"
               alt="Customer Logos">
            <img src="{% static 'images/Partner-Logos-mobile.png' %}" id="customer-logos-mobile"
               class="d-inline-block d-sm-none" alt="Customer Logos Mobile">
            <img src="{% static 'images/Partner-Logos-mobile-2.png' %}" id="customer-logos-mobile-2"
               class="d-inline-block d-sm-none" alt="Customer Logos Mobile 2">
         </div>
      </div>
   </div>
</div>
<!-- Plans -->
<div class="row section bg-light">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <br>
            <h4>Plans</h4>
            <br>
         </div>
         <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- <div class="text-center justify-content-center"> -->
            <div class="card border-primary plan-card text-center">
               <div class="card-header plan-card-header">Get Started
                  <!-- If user is logged in Basic User, show CURRENT -->
                  {% if user.is_authenticated and not user.profile.is_pro_user %}
                  <span class="badge badge-primary align-middle">Current Plan</span>
                  {% endif %}
               </div>
               <div class="card-body text-primary">
                  <h5 class="card-title">FREE</h5>
                  <ul class="list-group plan-list-group text-left">
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        Up to 10 Tickets/month
                     </li>
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        Dashboard View
                     </li>
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        Image uploads
                     </li>
                  </ul>
                  {% if not request.user.is_authenticated %}
                  <!-- If user is not authenticated, show Sign Up -->
                  <br>
                  <p>No credit card required</p>
                  <a href="{% url 'registration' %}" class="btn btn-primary"><i class="material-icons align-top">
                        person_add</i> Create Account</a>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-primary plan-card text-center">
               <div class="card-header plan-card-header">
                  <span class="material-icons align-top">stars</span>
                  PRO
                  {% if user.profile.is_pro_user %}
                  <!-- If PRO User, show CURRENT -->
                  <span class="badge badge-primary align-middle">Current Plan</span>
                  {% endif %}
               </div>
               <div class="card-body text-primary">
                  <h5 class="card-title">&euro;9.90</h5>
                  <ul class="list-group plan-list-group text-left">
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        UNLIMITED Tickets/month
                     </li>
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        Dashboard View
                     </li>
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        Image uploads
                     </li>
                     <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                        KANBAN View
                     </li>
                  </ul>
                  {% if not user.profile.is_pro_user and request.user.is_authenticated %}
                  <br>
                  <a href="{% url 'checkout' %}" class="btn btn-primary"><span class="material-icons align-bottom">
                        stars</span> Go PRO
                  </a>
                  {% endif %}
               </div>
            </div>
            <!-- </div> -->
         </div>
      </div>
   </div>
</div>
<!-- FAQ -->
<div class="row section">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4><i class="material-icons align-bottom">help_outline</i> Frequently Asked Questions</h4>
            <br>
         </div>
         <div class="col-12 col-md-4">
            <b>How many tickets can I raise?</b>
            <p class="text-muted">BASIC: 10/month<br>PRO: Unlimited</p>
         </div>
         <div class="col-12 col-md-4">
            <b>What file types can I upload?</b>
            <p class="text-muted">All standard image files (&lt;5MB) are supported - JPG, TIFF, PNG.</p>
         </div>
         <div class="col-12 col-md-4">
            <b>How many users can be added?</b>
            <p class="text-muted">Up to 500 Users. Please contact us if you require additional users.</p>
         </div>
         <div class="col-12 col-md-4">
            <b>What if I change my mind?</b>
            <p class="text-muted">If you are not entirely satisfied with PRO membership, refunds are available
               within 7 days of payment.</p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
