{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}TrackIt | Home{% endblock %}
{% block page_heading %}{% endblock %}
{% block content %}
<div class="row">
   <div class="col-5 col-md-4 text-right" style="min-height: 260px;">
      <br>
      <i class="material-icons align-top" style="font-size: 66px;">track_changes</i>
      <div class="vl float-right" style="border-left: 1px solid black;
      height: 200px; margin-left: 25px;"></div>
      <h2>Log it<br> TrackIt<br> Crack on</h2>
   </div>
   <div class="col-7 col-md-8">
      <h2 class="display-5">Issue and Feature tracking done right</h2>
      <br>
      <!-- If user already logged in, hide Login and Create Account buttons -->
      {% if not user.is_authenticated %}
      <!-- <a href="#" class="btn btn-primary btn-sm">
         <i class="material-icons align-middle">person</i> Log in as Demo User
      </a> -->
      <p>Get started today:</p>
      <a href="{% url 'registration' %}" class="btn btn-primary"><i class="material-icons align-top">
            person_add</i> Create Free Account</a>
      <br>
      <br>
      <p>Returning Users: </p>
      <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm" style="min-width: 160px;"><i
            class="material-icons align-top">
            input</i> Log In</a>
      {% else %}
      <br>
      <p>Logged in as: <b>{{ user.username }}</b></p>
      <p><a href="{% url 'profile' %}">My Account</a></p>
      {% endif %}
   </div>
</div>
<!-- Features -->
<div class="row bg-light">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4 class="text-right"><i class="material-icons align-bottom">build</i> Features</h4>
            <br>
         </div>
      </div>
      <div class="row bg-light" style="min-height: 230px;">
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom">confirmation_number</i><br>
               Tickets</h5>
            <p class="text-muted">Raise Tickets & Feature Requests</p>
         </div>
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom">assessment</i><br> Dashboard</h5>
            <p class="text-muted">Dynamic charting, providing on-demand insights</p>
            <p class="text-muted">At a glance view Tickets by Age, Priority and more</p>
         </div>
         <div class="col-12 col-md-4">
            <h5><i class="material-icons-outlined align-bottom">view_week</i><br> Kanban (PRO)</h5>
            <p class="text-muted">Intuitive Kanban view, unlocked with PRO Plan</p>
         </div>
      </div>
   </div>
</div>
<!-- Testimonials -->
<div class="row" style="min-height: 230px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4><i class="material-icons align-bottom">rate_review</i> Our users tell us</h4>
            <br>
         </div>
         <div class="col-12 col-md-3">
            <h5>Useful</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Excellent</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Great</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Nice</h5>
         </div>
      </div>
   </div>
</div>
<!-- Customers -->
<div class="row bg-light" style="min-height: 230px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4 class="text-right"><i class="material-icons align-bottom">verified_user</i> See Our Customers</h4>
            <br>
         </div>
         <div class="col-12 col-md-3">
            <h5>Organisation 1</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Organisation 2</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Organisation 3</h5>
         </div>
         <div class="col-12 col-md-3">
            <h5>Organisation 4</h5>
         </div>
      </div>
   </div>
</div>
<!-- Plans -->
<div class="row" style="min-height: 230px;">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <br>
            <h4>Plans</h4>
            <br>
         </div>
         <div class="col-12 text-center">
            <div class="card-deck text-center justify-content-center">
               <div class="card border-primary" style="max-width: 18rem;">
                  <!-- <div class="card-header">Free -->
                  <div class="card-header">Get Started
                     <!-- If user is logged in Basic User, show CURRENT -->
                     {% if user.is_authenticated and not user.profile.is_pro_user %}
                     <span class="badge badge-primary align-middle">Current Plan</span>
                     {% endif %}
                  </div>
                  <div class="card-body text-primary">
                     <!-- <h5 class="card-title">Get started</h5> -->
                     <h5 class="card-title">FREE</h5>
                     <ul class="list-group text-left">
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i> Up to
                           10 Tickets/month</li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                           Dashboard View</li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i> Image
                           uploads</li>
                     </ul>
                     {% if not request.user.is_authenticated %}
                     <!-- If user is already authenticated, hide Sign Up button -->
                     <a href="{% url 'registration' %}" class="btn btn-primary"><i class="material-icons align-top">
                           person_add</i> Create Account</a>
                     <br>
                     <br>
                     <p>Obligation-free</p>
                     <p>No credit card required</p>
                     {% endif %}
                  </div>
               </div>
               <div class="card border-primary" style="max-width: 18rem;">
                  <div class="card-header">PRO
                     {% if user.profile.is_pro_user %}
                     <!-- If PRO User, show CURRENT -->
                     <span class="badge badge-primary align-middle">Current Plan</span>
                     {% endif %}
                  </div>
                  <div class="card-body text-primary">
                     <!-- <h5 class="card-title">Go PRO</h5> -->
                     <h5 class="card-title">&euro;9.90 <br>(Single Payment)</h5>
                     <ul class=" list-group text-left">
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                           UNLIMITED Tickets/month
                        </li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                           Dashboard View</li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                           Image
                           uploads</li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i>
                           KANBAN
                           View</li>
                        <li class="list-group-item"><i class="material-icons align-top">check_circle_outline</i> 24/7
                           Live Support
                        </li>
                     </ul>
                     {% if not user.profile.is_pro_user %}
                     <a href="{% url 'checkout' %}" class="btn btn-primary">Go PRO</a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- FAQ -->
<div class="row bg-light" style="min-height: 230px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <br>
            <h4><i class="material-icons align-bottom">help_outline</i> Frequently Asked Questions</h4>
            <br>
         </div>
         <div class="col-12 col-md-4">
            <b>How many tickets can I raise?</b>
            <p class="text-muted">BASIC: 10/month<br>PRO: Unlimited</p>
         </div>
         <div class="col-12 col-md-4">
            <b>What file types can I upload?</b>
            <p class="text-muted">All standard image files (&lt;5MB) are supported - JPG, TIFF, PNG.</p>
         </div>
         <div class="col-12 col-md-4">
            <b>How many users can be added?</b>
            <p class="text-muted">Up to 500 Users. Please contact us if you require additional users.</p>
         </div>
         <div class="col-12 col-md-4">
            <b>What if I change my mind?</b>
            <p class="text-muted">If you are not entirely satified with your PRO membership, refunds are available
               within 7 days of payment.</p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
