{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}TrackIt | Login{% endblock %}
{% block container-class %}{% endblock %}
{% block content %}
<div class="row">
   <div class="col">
      <br>
      <div class="jumbotron mx-auto shadow p-3 mb-5 bg-white" id="log-in-jumbotron">
         <h4 class="display-6 text-center">Log in to your account</h4>
         <br>
         <form method="POST">
            {% csrf_token %}
            {{ login_form | crispy }}
            <button type="submit" class="btn btn-primary" id="login-btn-login-page"> Log In</button>
         </form>
         <hr>
         <p>Don't have an account? <a href="{% url 'registration' %}">Create Account</a></p>
      </div>
   </div>
</div>
{% endblock %}
