{% extends 'base.html' %}
{% block title %}TrackIt | Account{% endblock %}
{% block page_heading %}<i class="material-icons">account_circle</i> Account
<hr>
{% endblock %}
{% block container-class %}profile-container{% endblock %}
{% block content %}
<div class="row">
   <div class="col-sm-2">
      <p><a href="#">Add Avatar</a></p>
   </div>
   <div class="col-sm-10">
      <br>
      <table class="table table-sm">
         <tbody>
            <tr>
               <th>Username</th>
               <td>{{ user.username }} </td>
            </tr>
            <tr>
               <th>First Name</th>
               <td>{{ user.first_name }} </td>
            </tr>
            <tr>
               <th>Last Name</th>
               <td>{{ user.last_name }}</td>
            </tr>
            <tr>
               <th>Email</th>
               <!-- * Triggers Modal on click, user enters new email, backend checks if email is valid and not already taken,  -->
               <td>{{ user.email }}
                  <!-- <a href="#" class="float-right">Update</a> -->
               </td>
            </tr>
            <tr>
               <th>Member Since</th>
               <td>{{ user.date_joined.date }}</td>
            </tr>
            <tr>
               <th>Staff</th>
               <td>{{ user.is_staff }}</td>
            </tr>
            <tr>
               <th>Current Plan</th>
               {% if user.profile.is_pro_user %}
               <td><span class="badge badge-primary">PRO</span></td>
               {% else %}
               <td>Basic <a href="{% url 'checkout' %}" class="btn btn-sm btn-primary"><b>Go PRO</b></a>
               </td>
               {% endif %}
            </tr>
         </tbody>
      </table>
   </div>
</div>
{% endblock %}
