{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css"
   href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/cr-1.5.2/r-2.2.3/sp-1.0.1/sl-1.3.1/datatables.min.css">
{% endblock %}
{% block title %}Trackit | Team{% endblock %}
{% block page_heading %}
<h3>
   <i class="material-icons heading-icon align-bottom">people</i> Users ({{ users.count }})
</h3>
<hr>
{% endblock %}
{% block container-class %}user-list-container{% endblock %}
{% block content %}
<!-- Internal Panes Nav Items -->
<nav>
   <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-submitters-tab" data-toggle="tab" href="#nav-submitters" role="tab"
         aria-controls="nav-submitters" aria-selected="true">Submitters ({{ submitters.count }})</a>
      <a class="nav-item nav-link" id="nav-assignees-tab" data-toggle="tab" href="#nav-assignees" role="tab"
         aria-controls="nav-assignees" aria-selected="false">Staff ({{ staff.count }})</a>
   </div>
</nav>

<!-- Internal Panes -->
<div class="tab-content" id="nav-tabContent">
   <!-- Submitters Pane Here -->
   <div class="tab-pane fade show active" id="nav-submitters" role="tabpanel" aria-labelledby="nav-submitters-tab">
      <br>
      <div class="row">
         <div class="col col-12" id="submitters-col">
            <div class="jumbotron">
               <table id="submitters-table" class="table display table-md table-responsive">
                  <thead>
                     <tr>
                        <th>User</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Zoom ID</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for submitter in submitters %}
                     <tr>
                        <td class="align-middle">
                           {% if submitter.profile.image %}
                           <img src="{{ submitter.profile.image.url }}" alt="Profile Image"
                              class="rounded-circle ticket-view-profile-image d-none d-sm-inline-block">
                           {% else %}
                           <i class="material-icons align-middle rounded-circle ticket-view-profile-default
                           d-none d-sm-inline-block">account_circle
                           </i>
                           {% endif %}
                           {{ submitter.username }}
                        </td>
                        <td class="align-middle">{{ submitter.first_name }}</td>
                        <td class="align-middle">{{ submitter.last_name }}</td>
                        <td class="align-middle">
                           <a href="mailto:{{ submitter.email }}" data-toggle="tooltip" title="Mail to:"
                              data-placement="left">
                              {{ submitter.email }}
                           </a>
                        </td>
                        <td class="align-middle">
                           {% if submitter.profile.zoom_id %}
                           <a href="https://zoom.us/j/{{ submitter.profile.zoom_id }}" target="_blank"
                              data-toggle="tooltip" title="Join Zoom Meeting:" data-placement="left">
                              {{ submitter.profile.zoom_id }}
                           </a>
                           {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- Assignees Pane -->
   <div class="tab-pane fade" id="nav-assignees" role="tabpanel" aria-labelledby="nav-assignees-tab">
      <!-- Table -->
      <br>
      <div class="row">
         <div class="col col-12" id="assignees-col">
            <div class="jumbotron">
               <table id="assignees-table" class="table display table-md table-responsive">
                  <thead>
                     <tr>
                        <th>User</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Zoom ID</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for staff_member in staff %}
                     <tr>
                        <td class="align-middle">
                           {% if staff_member.profile.image %}
                           <img src="{{ staff_member.profile.image.url }}" alt="Profile Image"
                              class="rounded-circle ticket-view-profile-image d-none d-sm-inline-block">
                           {% else %}
                           <i class="material-icons align-middle rounded-circle ticket-view-profile-default">
                              account_circle</i>
                           {% endif %}
                           {{ staff_member.username }}
                        </td>
                        <td class="align-middle">{{ staff_member.first_name }}</td>
                        <td class="align-middle">{{ staff_member.last_name }}</td>
                        <td class="align-middle">
                           <a href="mailto:{{ staff_member.email }}" data-toggle="tooltip" title="Mail to:"
                              data-placement="left">
                              {{ staff_member.email }}
                           </a>
                        </td>
                        <td class="align-middle">
                           {% if staff_member.profile.zoom_id %}
                           <a href="https://zoom.us/j/{{ submitter.profile.zoom_id }}" target="_blank"
                              data-toggle="tooltip" title="Zoom Call:" data-placement="left">
                              {{ staff_member.profile.zoom_id }}
                           </a>
                           {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
<!-- DataTables.js -->
<script
   src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/cr-1.5.2/r-2.2.3/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
{% endblock %}
